<div class="container investment">
  <div class="investment-header"><h1>Summary information</h1></div>
  <div class="investment-content">
    <div class="investment-content-infos">
      <table>
        <tbody>
          <tr>
            <td><h3>Project:</h3></td>
            <td><p><%= @project.name %></p></td>
          </tr>
          <tr>
            <td><h3>Project size:</h3></td>
            <td><p><%= @project.panels_quantity %> panels</p></td>
          </tr>
          <tr>
            <td><h3>Availability:</h3></td>
            <td><p><%= @project.available_panels%> panels</p></td>
          </tr>
          <tr>
            <td><h3>Price per panel:</h3></td>
            <td><p><%= humanized_money_with_symbol(@project.price) %></p></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="investment-content-invest_action">
      <%= render "investments/form", investment: @investment, class:"investment-form" %>
    </div>
  </div>
  <%= link_to 'Back', :back, class: "btn btn-goback" %>
</div>
