<div class="container investment-container">

  <strong>  <h4> Summary information </h4> </strong>

  <p> <strong> Project:</strong>  <%= @project.name %></p>
  <p> <strong> Project size: </strong> <%= @project.panels_quantity %> panels </p>
  <p> <strong> Availability: </strong>
    <%= @project.available_panels%> panels
  </p>
  <p> <strong>Price per panel: </strong> <%= humanized_money_with_symbol(@project.price) %></p>
  <br>

  <%= render "investments/form", investment: @investment, class:"investment-form" %> <br>
  <%= link_to 'Back', :back, class: "btn btn-goback" %>
</div>
