<div class="container">
  <%= link_to 'Back', :back %>
  Please fill in your investment selection for project
  <%= @project.name %>
  <br>
  Project size:
  <%= @project.panels_quantity %>
  <br>
  Available panels:
  <%= @project.panels_quantity %>
  <p>Price per panel: <%= humanized_money_with_symbol(@project.price) %></p>
  <br>
  How many panels would you like to buy?
  <br>
  <%= render "investments/form", investment: @investment %>
</div>
