<div class="container after-payment">
  <div class="after-payment-header"><h1> Your payment is <%= @investment.state %>! </h1></div>
  <div class="after-payment-content">
    <table>
      <tbody>
        <tr>
          <td><h3>Project name:</h3></td>
          <td><p><%= @investment.project.name %> </p></td>
        </tr>
        <tr>
          <td><h3>Number of panels:</h3></td>
          <td><p><%= @investment.number_of_panels %> </p></td>
        </tr>
        <tr>
          <td><h3>Price per panel:</h3></td>
          <td><p> <%= humanized_money_with_symbol(@investment.project.price) %></p></td>
        </tr>
        <tr>
          <td><h3>Total amount:</h3></td>
          <td><p> <%= humanized_money_with_symbol(@investment.amount) %></p></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%= link_to "Go to my dashboard", user_path(current_user), class:"btn-main-green"  %>
</div>
