<div class="card-projects">
  <img class="card-project-image" src="http://www.coherentchronicle.com/wp-content/uploads/2018/03/Microsoft-to-Collaborate-with-Sunseap-for-Solar-Project-in-Singapore.jpg" alt="">

  <div class="card-header-projects text-left">
    <div class="card-title-and-company-name">
      <h1> <%= project.name %> </h1>
      <h3> <%= project.user.company_name %> </h3>
    </div>
    <img class="card-company-logo" src="https://vignette.wikia.nocookie.net/logopedia/images/0/0d/Coca-Cola_square_logo.svg/revision/latest?cb=20180131095139">
  </div>


  <div class="card-financial-details text-left">
    <progress  max="100" value="<%= project.completion_rate %>"> <%= project.completion_rate %> </progress>
    <p>Project funding: <%= project.completion_rate %> % </p>
    <p>Price per panel: <%= humanized_money_with_symbol(project.price) %></p>
    <p>Yield: <%= project.yield %> % per year  </p>
  </div>
  <div class="card-country-projects">
    <h1><%= project.country %></h1>
  </div>
  <%= link_to "", project_path(project), class: "card-link-projects" %>
</div>
