<div class="home_banner_wrapper">
  <div class="container-fluid">
    <div class="home_banner" style="">
      <div class="container home_banner_content">
        <h1>Solarize
        Me</h1>
        <h2>Find a home for your solar panels!</h2>
        <%= link_to "Start investing now", projects_path, class: "btn-main-green" %>
        <%= link_to "Learn more", learn_more_path, class: "btn-ancilliary" %>
      </div>
    </div>
  </div>

  <div id="js-cards-list">
    <div class="container" id="key-facts-home" id="js-cards-list"> <h1 >About our service</h1>
      <div class="one-key-facts-home">
        <div><h1>1</h1></div>
        <div class="one-key-facts-home-first">
          <h5>WE find a company with a large roof willing to buy solar power</h5>
        </div>
      </div>

      <div class="two-key-facts-home">
        <div><h1>2</h1></div>
        <div class="two-key-facts-home-first">
          <h5> YOU select the number of solar panels you want to own, and WE install them for you </h5>
        </div>
      </div>

      <div class="three-key-facts-home">
        <div><h1>3</h1></div>
        <div class="three-key-facts-home-first">
          <h5> YOU reduce your CO2 footprint, and get great returns by selling the electricity to the company! </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="cards-list" id="js-cards-list">
    <h2>Active campaigns</h2>
    <%= render partial: "shared/card", collection: @projects %>
  </div>
  <br>
  <div class="container text-center buttons-home-beforefooter">
      <%= link_to "Start investing now", projects_path, class: "btn-main-green" %>
      <%= link_to "Learn more", learn_more_path, class: "btn-ancilliary" %>
  </div>
</div>
