<br>
<div class="container">
  <br>
  <br>
  <h1>Our Projects</h1>
  <br>
  <br>
  <%= form_tag projects_path, method: "get" do  %>
    <%= select_tag "query", options_from_collection_for_select(@projects, "id", "country") %>
    <%= submit_tag "filter", class: "btn btn-success" %>
    <%= link_to "Reset", projects_path, class:"btn btn-primary" %>
  <% end %>

  <br>

    <% @projects.each do |project| %>
      <%= render 'shared/card', project: project %>
      <br>
    <% end %>
<br>
<br>

<br>


</div>
