<div class="container">

  <div class="button-begin-showpage">
    <%= link_to "Back", :back, class:"btn btn-goback" %>
  </div>

  <div class="wrapper-one-lightblue" id="js-cards-list">
    <%= render 'shared/card', :card => @project %>
    <div class="show-flex-two">
      <div class="financial-indicators-show">
        <h3>Key project indicators</h3>
        <div class="icon-container-show">
          <p><i class="fas fa-chart-line icon-show"></i> <strong> <%= @project.roi_decimals / 100.0 %> % </strong> Estimated ROI </p>
        </div>
        <div class="icon-container-show">
          <p><i class="fas fa-solar-panel"></i> <strong><%= @project.panel_watt %> Watts </strong> panel type </p>
        </div>
        <div class="icon-container-show">
          <p><i class="fas fa-sitemap"></i> <strong><%= @project.panels_quantity %> </strong> total panels</p>
        </div>
        <div class="icon-container-show">
          <p><i class="fas fa-battery-full"></i> <strong><%= @project.kwc %> kWc </strong> project power</p>
        </div>
        <div class="icon-container-show">
          <p> <i class="far fa-calendar-alt"></i> <strong>Comissioning date </strong>: <%= @project.comissioning_date %></p>
        </div>
      </div>
    </div>
    <div class="show-flex-three">
      <h3>Start investing now!</h3>
      <div class="icon-container-show" id="price-of-selected-panels">
        <p><i class="fas fa-euro-sign"></i> <strong> <%= humanized_money_with_symbol(@project.price) %></strong>  per panel </p>
      </div>
      <div class="icon-container-show">
        <h1><i class="fas fa-cart-arrow-down"></i></h1>
        <p> <strong> <%= @project.available_panels %> panels </strong> still available </p>
      </div>
      <div class="remaining-crowfunding">
        <p> <%= @project.remaining_crowdfunding_days %>!</p>
      </div>
      <div>
        <p>Select the number of panels you would like to buy</p>
      </div>
      <div>
      </div>
      <div class="investment-content-invest_action">
        <%= render "investments/form", project: @project, investment: @investment, class:"investment-form" %>
      </div>
    </div>
    <div class="show-flex-four">
      <h3> Detailed description </h3>
      <p><%= @project.long_description %><p>
    </div>
    <div class="show-flex-five">
      <h3> Location </h3>
      <div id="map"
            style="width: 100%;
            height: 600px;"
            data-markers="<%= @markers.to_json %>">
      </div>
    </div>



  </div>

  <div class="button-back-showpage">
    <%= link_to "Back", :back, class:"btn btn-goback" %>
  </div>

</div>

<!-- Work in progress script to calculate value from investment on same page -->

<!-- <script>
  const calculatedvalue = document.getElementById("total-investment-value-calculated").innerText
  console.log(calculatedvalue)
  const pricepanel = document.getElementById("price-of-selected-panels").innerHTML
  console.log(pricepanel)
  const numberpanels = document.getElementById("investment_number_of_panels").innerText
  console.log(numberpanels)
  // investment_number_of_panels
  // number-panels-selected-investment


  document.addEventListener("click", (event) => {
    console.log(numberpanels)
  })
</script> -->
