<div class="container confirmation-container">

  <h5>You are buying: </h5>
  <h5 class="number-panels-confirmation"> <strong> <%= @investment.number_of_panels %> </strong> panels </h5>
  <!-- <p>Price per panel: <%= humanized_money_with_symbol(@investment.project.price) %></p>
  <p>Income per year <%= @investment.income_per_year %></p> -->
  <%= form_tag project_investment_payments_path(@investment) do %>
    <article>
      <label class="amount">
        <span>Total amount due: <br> <%= humanized_money_with_symbol(@investment.amount) %></span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-name="Project investment"
      data-email="<%= current_user.email %>"
      data-description="Project <%= @investment.project.name %>"
      data-amount="<%= @investment.amount_cents %>"
      data-currency="<%= @investment.amount.currency %>"></script>

  <% end %>
  <br>
    <%= link_to 'Back', :back, class: "btn btn-goback" %>
</div>

